.generator-container {
    display: flex;
    justify-content: flex-end;
}

form {
    display:flex;
    flex-direction:row;
    position: fixed;
    bottom:5%;
    border:1px solid grey;
    border-radius: 50px;
    padding:1px;
    width: 90%;
    justify-content: center;
  }

.input-box {
    width: auto;
    height: auto;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 2;
    border-radius: 50px;
    font-size: medium;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input:focus {
    outline: none;
}

button {
    border-radius: 100px;
}

ul {
    display: flex;
    flex-direction: column;      
    list-style-type: none;
}

li {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #d3d3d3;
    margin: 10px;
    border-radius: 50px;
    padding: 5px 10px;
}