.generator-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin: 0 auto;
    padding: 10px;
    overflow-y: auto;
}

form {
    display:flex;
    flex-direction:row;
    position: fixed;
    bottom:2%;
    border-radius: 50px;
    padding:1px;
    width: 95%;
    justify-content: center;
  }

.input-box {
    width: auto;
    height: auto;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 2;
    border-radius: 50px;
    font-size: medium;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #eaeaea;
}

input:focus {
    outline: none;
}

button {
    border-radius: 100px;
    margin-left: 5px;
}

.chatbox {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    text-wrap: wrap;
    height: 100%;
}

.user-message {
    list-style: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 10px;
    width: auto;
    max-width: 60%;
    align-self: flex-end;
    margin-top: 5px;
    word-wrap: break-word;
    white-space: normal;
}

.ai-message {
    list-style: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 10px;
    width:auto;
    max-width: 50%;
    align-self: flex-start;
    margin-top: 5px;
    word-wrap: break-word;
    white-space: normal;
}