.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.profile-btn {
   margin-left: auto;
    background-color: white;
}

.profile-btn:hover {
    border-radius: 10px;
}

.header-title {
    margin: 0
}

.header-title:hover {
    cursor: pointer;
}