/* index.css */

/* Default Theme Variables (Light Mode) */
:root {
  --text-color: #213547; /* Main text color */
  --bg-color: #FFFFFF; /* Background color */
  --accent-color: #4A6678; /* Accent/Secondary color */
  --button-bg-color: #E0E0E0; /* Button background */
  --button-hover-color: #D3D3D3; /* Button hover */
}

/* Dark Theme Variables */
body.dark-theme {
  --text-color: #F5F5F5; /* Light text */
  --bg-color: #213547; /* Dark background */
  --accent-color: #FFFFFF; /* Accent/Secondary color (white in this case) */
  --button-bg-color: #4A6678; /* Darker button background */
  --button-hover-color: #5B7D91; /* Darker button hover */
}

/* Apply variables */
body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  opacity: 0.8; /* Slight opacity change on hover */
}

button {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

button:hover {
  background-color: var(--button-hover-color);
}
